.btn {
	display: inline-block;
	line-height: 1;
	padding: 9px 18px 10px;
	background: $lightGrey;
	color: $darkestGrey;
	border: none;
	font-family: $font;
	@include x-border-radius(3px);
	&:hover {
		background: darken($lightGrey, 5%);
	}
	&:focus {
		outline: none;
	}
	&.btn-primary {
		background: $lightGreen;
		color: $white;
		font-size: 16px;
		padding: 9px 15px 10px;
		border-left: 6px solid $darkGreen;
		border-right: 6px solid $darkGreen;
		&:before {
			content: '+ ';
			font-weight: $bold;
			margin-right: 5px;
		}
		&:hover {
			background: darken($lightGreen, 5%);
			border-left-color: darken($darkGreen, 5%);
			border-right-color: darken($darkGreen, 5%);
		}
		
	}
	&.btn-small {
		padding: 4px 8px 5px;
		font-size: 12px;
		font-weight: $semibold;
		margin-left: 7px;
		&.btn-link {
			padding: 0;
			background: none;
			text-decoration: underline;
			border: none;
			font-weight: normal;
		}
	}
	&.btn-green {
		background: $lightGreen;
		color: $white;
		&:hover {
			background: darken($lightGreen, 5%);
		}
		&:focus {
			@include box-shadow(0, 0, 0, 2px, darken($lightGreen, 10%));
		}
	}
	&.btn-red {
		background: $red;
		color: $white;
		&:hover {
			background: darken($red, 5%);
		}
		&:focus {
			@include box-shadow(0, 0, 0, 2px, darken($red, 10%));
		}
	}
	&.btn-blue {
		background: $lightBlue;
		color: #79818a;
		&:hover {
			background: darken($lightBlue, 5%);
		}
		&:focus {
			@include box-shadow(0, 0, 0, 2px, darken($lightBlue, 10%));
		}
	}
	&.btn-link {
		background: transparent;
		border: 2px solid $lightGrey;
		padding: 8px 16px;
		&.watchToggle {
			&.watching {
				text-indent: -9999px;
				border: none;
				width: 36px;
				height: 36px;
				padding: 0;
				background: $lightGrey url('../../media/img/assets/spritesheet.png') -170px 12px no-repeat;
				vertical-align: top;
			}
		}
	}
}

