#interactions {
	.comments {
		margin-bottom: 2em;
		li {
			margin-left: 0;
		}
	}
}

.question {
	.actions {
		margin-left: 0;
		#commentForm {
			div {
				input[type="submit"] {
					display: block;
					+ .btn {
						margin-left: 0;
						margin-top: 20px;
					}
				}
			}
		}
	}
}