#interactions {
	width: 100%;
	@include x-box-sizing;
	.comments {
		padding: 0;
		margin: 0 0 4em 0;
		list-style: none;
		li {
			margin-bottom: 1em;
			margin-left: 190px;
			aside {
				float: left;
				img {
					margin-right: 20px;
					position: relative;
					top: 8px;
					@include x-border-radius(50%);
				}
			}
			article {
				float: left;
				margin-top: 10px;
				header {
					color: $oliveGreen;
					font-size: 13px;
					.author {
						color: $black;
						font-weight: $bold;
						font-size: 16px;
						margin: 0;
						.bestAnswersCount {
							font-size: 14px;
							font-weight: bold;
							color: $darkGreen;
							padding-left: 15px;
							display: inline-block;
							margin-left: 6px;
							background: url('../../media/img/assets/best-answer.png') 0 center no-repeat;
						}
					}
				}
				> p {
					margin-bottom: 0;
					a {
						color: $lightBlue;
						text-decoration: underline;
						&:hover {
							color: $blue;
						}
					}
				}
				footer {
					.publishedDate {
						font-size: 13px;
						color: $oliveGreen;
					}
				}
			}
			&.lvl1 {
				margin-left: 260px;
				border-left: 4px solid $lightGrey;
				padding-left: 20px;
			}
			&.bestAnswer {
				article {
					border-left: 4px solid $darkGreen;
					padding-left: 15px;
				}
			}
		}
	}
	.actions {
		margin-left: 190px;
		#commentForm {
			.userAvatar {
				float: left;
				margin-right: 20px;
			}
			textarea {
				float: left;
				width: 642px;
			}
			input[type="submit"] {
				margin-left: 68px;
			}
		}
	}
}