#interactions {
	.comments {
		li {
			margin-left: 0;
		}
	}
}

.actions {
	margin-left: 0;
	#commentForm {
		div {
			input[type="submit"] {
				+ .btn {
					margin-left: 0;
					margin-top: 20px;
				}
			}
		}
	}
}