fieldset {
	padding-bottom: 2em;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	color: $darkGrey;
	background: $lightGrey;
	@include x-box-sizing;
	@include x-border-radius(3px);
	border: none;
	outline: none;
	font-family: $font;
	padding: 10px 18px;
}

input[type="password"] {
	letter-spacing: .2em;
	@include placeholder {
		letter-spacing: 0;
	}
}

textarea {
	width: 100%;
	padding: 20px;
	line-height: 1.8;
	height: 180px;
	margin-bottom: 2em;
}

input[type="file"] {
	font-family: $font;
}

.helpText {
	font-size: 14px;
	padding-left: 304px;
	margin: .67em 0;
	color: $oliveGreen;
}