fieldset {
	padding-bottom: 2em;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	color: $darkGrey;
	background: $lightGrey;
	@include x-box-sizing;
	@include x-border-radius(3px);
	border: none;
	outline: none;
	font-family: $font;
	padding: 10px 18px;
	&:focus {
		@include box-shadow(0, 0, 0, 2px, darken($lightGrey, 10%));
	}
}

input[type="password"] {
	letter-spacing: .2em;
	@include placeholder {
		letter-spacing: 0;
	}
}

textarea {
	width: 100%;
	padding: 20px;
	line-height: 1.8;
	height: 180px;
	margin-bottom: 2em;
	&:focus {
		@include box-shadow(0, 0, 0, 2px, darken($lightGrey, 10%));
	}
}

input[type="file"] {
	font-family: $font;
	font-size: 13px;
}

.helpText {
	font-size: 14px;
	margin: .67em 0;
	color: $oliveGreen;
}

.horizontalForm {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	h3 {
		
	}
	div {
		margin-bottom: 1.33em;
		label {
			display: inline-block;
			width: 300px;
		}
		input[type="text"],
		input[type="email"],
		input[type="password"] {
			width: 297px;
		}
		.helpText {
			padding-left: 304px;
			@include x-box-sizing(border-box);
			max-width: 100%;
		}
		&.actions {
			padding-left: 304px;
			.btn {
				&+ .btn {
					margin-left: 5px; /* 2nd button */
				}
			}
		}
	}
	&.compact {
		width: 400px;
		div {
			label {
				width: 110px;
			}
			input[type="text"],
			input[type="email"],
			input[type="password"],
			input[type="file"] {
				width: 287px;
			}
			.helpText {
				padding-left: 114px;
			}
			&.actions {
				padding: 2em 0 0 114px;
			}
		}
	}
}