.notice {
	border: 2px solid $darkBlue;
	background: $lightGrey;
	@include x-border-radius(5px);
	padding: 20px 15px;
	margin: 0 auto 3em;
	list-style: none;
	&.info {
		background: #e1eff8;
		border-color: #c8e1ef;
		color: #639bb9;
		a {
			color: #639bb9;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}	
	}
	&.error {
		background: #f6ced4;
		border-color: #ebbcc3;
		color: #d97171;
		a {
			color: #d97171;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	&.success {
		background: #edf5d8;
		border-color: #e0edc2;
		color: $lightGreen;
		a {
			color: $lightGreen;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	&.wide {
		width: 360px;
	}
}