.notice {
	border: 2px solid $darkBlue;
	background: $lightGrey;
	@include x-border-radius(5px);
	padding: 20px 15px;
	margin: 0 auto 3em;
	list-style: none;
	&.error {
		background: #f6ced4;
		border-color: #ebbcc3;
		color: #d97171;
	}
	&.success {
		background: #edf5d8;
		border-color: #e0edc2;
		color: $lightGreen;
	}
	&.wide {
		width: 360px;
	}
}