.newFeature {
	position: relative;
}

.tip {
	position: absolute;
	right: -10px;
	z-index: 10;
	.tipBox {
		.tipArrow {
			display: block;
			height: 9px;
			width: 16px;
			background: url('../../media/img/assets/tip-arrow.png') 0 0 no-repeat;
			position: relative;
			top: -20px;
			right: -175px;
		}
		border: 2px solid $lightGreen;
		background: $white;
		@include x-border-radius(6px);
		@include x-box-sizing;
		padding: 11px 18px 18px;
		font-size: 13px;
		line-height: 20px;
		width: 230px;
		@include box-shadow(0, 1px, 5px, 0, rgba(0,0,0,.15));
		.dismiss {
			float: right;
			text-indent: -9999px;
			border: none;
			padding: 0;
			display: block;
			width: 11px;
			height: 11px;
			background: url('../../media/img/assets/dismiss.png') 0 0 no-repeat;
			position: relative;
			top: 3px;
		}
		p {
			margin: 0;
			width: 165px;
		}
	}
}
