.request header h2 {
  float: none;
  padding-left: 0; }
.request aside {
  float: none;
  height: 64px;
  margin-bottom: 10px; }
  .request aside ul li.author {
    display: inline-block; }
  .request aside ul li.bestAnswersCount {
    position: static;
    top: auto;
    display: inline-block;
    background-position: 9px center;
    padding-left: 25px; }
.request article {
  float: none;
  max-width: 100%; }
.request.urgent header h2, .request.solved header h2 {
  padding-left: 25px; }
.request.urgent header h2 {
  background-position: 2px 5px; }
.request.solved header h2 {
  background-position: 2px 9px; }
