.requests {
	list-style: none;
	padding: 0;
	margin: 0 auto;
}

.request {
	width: 300px;
	background: #fff;
	float: left;
	padding: 20px;
	box-sizing: border-box;
	font-size: 13px;
	margin: 0 15px 30px 15px;
	@include x-border-radius(3px);
	&:nth-child(3n) {
		margin-right: 0;
	}
	
	header {
		h2 {
			color: $darkGreen;
			font-size: 16px;
			font-weight: $regular;
			max-width: 215px;
			margin: 0;
			float: left;
			line-height: 1.25;
			
			span {
				background: $lightGreen;
				color: $white;
				font-size: 12px;
				margin-left: 2px;
				display: inline-block;
				padding: 2px 4px;
				line-height: 1;
				@include x-border-radius(2px);
			}/* span */
		}/* h2 */
		
		.publishedDate {
			color: $darkestGrey;
			font-size: 13px;
			float: right;
		}
	}/* header */
	
	footer {
		text-align: center;
		.reply {
			display: inline-block;
			background: $lightGrey;
			text-decoration: none;
			line-height: 1;
			padding: 10px 18px;
			color: $darkGrey;
			font-weight: $semibold;
			@include x-border-radius(3px);
		}
		a {
			color: $darkGrey;
		}
	}
}/* .request */