/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
 * Sass variables
 */

$font: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$regular: 400;
$semibold: 600;
$bold: 700;

$white: #fff;
$lighterGrey: #f8fbf5;
$lightGrey: #edf0ea;
$grey: #a1a1a1;
$darkGrey: #6f7378;
$darkestGrey: #6f6f6f;
$black: #323232;

$lightBlue: #639cb4;
$blue: #3d7c96;
$darkBlue: #8c9299;

$oliveGreen: #a6ada2;
$lightGreen: #a7cf47;
$darkGreen: #95bb39;

$red: #d66037;

/*
 * Sass mixins
 */

@mixin x-border-radius ($values) {
    -webkit-border-radius: $values; // iOS Safari 3.2, Android 2.1
            border-radius: $values;
}

@mixin x-transition ($values) {
    -webkit-transition: $values;
       -moz-transition: $values;
         -o-transition: $values;
            transition: $values;
}

@mixin x-box-sizing ($type: border-box) {
    -webkit-box-sizing: $type; // Safari <= 5.0, Chrome <= 9.0, iOS Safari 3.2 - 4.3 and Android 2.1 - 3.0
       -moz-box-sizing: $type; // FF 2.0+
            box-sizing: $type; // IE 8, Opera 9.5+
}

@mixin placeholder {
	&.placeholder { @content }
	&:-moz-placeholder { @content }
	&::-webkit-input-placeholder { @content }
}

@mixin box-shadow($top, $left, $blur, $color, $inset:'') {
	-webkit-box-shadow:$top $left $blur $color #{$inset};
	-moz-box-shadow:$top $left $blur $color #{$inset};
	box-shadow:$top $left $blur $color #{$inset};
}

/*
 * Common
 */
 
body,
html {
	min-height: 100%;
}

html {
	background: #595d62; /* footer extension */
}

body {
	font-family: $font;
	color: $darkGrey;
	line-height: 1.6;
	background: #fff;
}

a {
	color: $oliveGreen;
	text-decoration: none;
	&:hover {
		color: darken($oliveGreen, 15%);
	}
}

.rounded {
	@include x-border-radius(50%);
}

.bold {
	font-weight: $bold;
}

.center {
	text-align: center;
}

img[src$=".gif"],
img[src$=".png"] {
	image-rendering: -moz-crisp-edges;         /* Firefox */
	image-rendering:   -o-crisp-edges;         /* Opera */
	image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

body {
	> header {
		padding: 27px 50px;
		vertical-align: middle;
		width: 100%;
		@include x-box-sizing;
		text-align: center;
		background: $white;
		height: 107px;
		#logoHeader {
			display: inline-block;
			text-align: left;
			float: left;
			line-height: 38px;
			.logo {
				display: inline-block;
				float: left;
				margin-top: 7px;
				margin-right: 10px;
			}
		}
	}
	
	#signIn,
	#signUp {
		color: $darkGrey;
		margin-top: 14px;
		display: inline-block;
		&:hover {
			color: darken($darkGrey, 25%);
		}
	}
	
	#signIn {
		margin-right: 20px;
	}
	
	#userAccount {
		position: relative;
		float: right;
		margin: -5px 20px 0 0;
		#userAccountTrigger {
			display: inline-block;
			background: none;
			font-family: $font;
			color: $darkGrey;
			border: none;
			float: right;
			padding: 10px;
			border: 1px solid $white;
			@include x-border-radius(3px);
			&.active,
			&:hover {
				border: 1px solid $lightGrey;
			}
			&:focus {
				outline: none;
			}
			.userAvatar {
				margin: 0 12px 0 0;
			}
			span {
				margin-top: 2px;
			}
		}
		#userDropdown {
			position: absolute;
			top: 65px;
			background: $darkGrey;
			min-width: 200px;
			@include x-border-radius(3px);
			text-align: left;
			padding: 10px 0;
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				li {
					a {	
						padding: 5px 10px;				
						color: $white;
						display: block;
						.count {
							display: inline-block;
							font-size: 12px;
							color: $white;
							vertical-align: middle;
							width: 16px;
							background: $lightGreen;
							line-height: 1;
							padding: 2px 0;
							text-align: center;
							margin: -3px 0 0 5px;
							@include x-border-radius(2px);
						}
						&:hover {
							background: $oliveGreen;
						}
					}
				}
			}
			&.hidden {
			    display: none !important;
			    visibility: hidden;
			}
			
		}
	}
	
	.btn.btn-primary.askForHelp {
		float: right;
		margin-top: -5px;
		padding: 20px 15px 21px;
	}
	
	h1 {
		color: $oliveGreen;
		font-size: 38px;
		font-weight: $regular;
		text-align: center;
		margin: 1em 0 2em 0;
	}
	
	.container {
		width: 100%;
		max-width: 940px;
		padding: 0 20px 120px;
		margin: 0 auto;
		@include x-box-sizing;
	}
	
	p {
		margin: 0 0 1.8em 0;
	}
	
	#showMore {
		text-align: center;
		a {
			color: $oliveGreen;
			text-decoration: underline;
		}
	}
	
	> footer {
		overflow: hidden;
		padding: 30px 50px 120px;
		background: #595d62;
		nav {
			float: right;
			font-size: 14px;
			text-transform: uppercase;
			a {
				margin-left: 40px;
				font-size: 12px;
				letter-spacing: .1em;
				color: $oliveGreen;
				&:hover {
					color: $lighterGrey;
				}
			}
		}
	}
}

/*
 * Dev
 */

.dev {
	background: #393939;
	color: #b3c974;
	font-family: monospace, serif;
	font-size: 14px;
	padding: 20px 50px;
	border-bottom: 2px solid #2A2A2A;
}

.devbox {
	background: #393939;
	color: #b3c974;
	font-family: monospace, serif;
	font-size: 10px;
	padding: 20px 50px;
	margin: 50px;
	border: 2px solid #2A2A2A;
	@include x-border-radius(3px);
}

/*
 * Imports
 */

@import "views/connexion.scss";
@import "views/inscription.scss";
@import "views/reset.scss";
@import "views/mon-compte.scss";
@import "views/nouvelle-question.scss";
@import "views/question.scss";

@import "components/buttons.scss";
@import "components/card.scss";
@import "components/forms.scss";
@import "components/notices.scss";
@import "components/comments.scss";

@import "polypage/plain.css";















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Responsiveness
   ========================================================================== */

@media only screen and (max-width: 1000px) {
	body {
		.container {
			padding-left: 50px;
			padding-right: 50px;
			max-width: 100%;
		}
	}
	@import "components/card_max1000.scss";
    @import "components/comments_max1000.scss";
}

@media only screen and (max-width: 750px) {
    @import "components/card_max750.scss";
    @import "components/comments_max750.scss";
}

@media only screen and (max-width: 700px) {
	@import "components/forms_max700.scss";
	@import "views/mon-compte_max700.scss";
}

@media only screen and (max-width: 640px) {
	body {
		> header {
			height: auto;
			padding: 27px 20px;
			#logoHeader {
				float: none;
				display: block;
				margin: 0 auto 2em auto;
				width: 47px;
				height: 25px;
				overflow: hidden;
				.logo {
					margin: 0;
					vertical-align: top;
				}
			}
			.btn.btn-primary.askForHelp {
				float: none;
				display: block;
				margin: 1em 0;
			}
			#userAccount {
				float: none;
				display: block;
				margin: 1em 0;
				#userAccountTrigger {
					width: 100%;
					background: $lightGrey;
					border: none;
					float: none;
					&:hover,
					&.active {
						border: none;
					}
				}
				#userDropdown {
					width: 100%;
					text-align: center;
					ul li a {
						padding: 10px;
					}
				}
			}
		}
		.container {
			padding: 0 20px 50px;
			.btn.btn-link.watchToggle.watching {
				width: 33px;
				height: 33px;
			}
		}
		h1 {
			font-size: 28px;
		}
		> footer {
			padding: 30px 20px 120px;
			nav {
				float: none;
				a {
					display: block;
					margin: 0 0 1.33em 0;
				}
			}
		}
	}
    @import "components/card_max640.scss";
    @import "components/notices_max640.scss";
    @import "components/forms_max640.scss";
    @import "views/connexion_max640.scss";
    @import "views/inscription_max640.scss";
    @import "views/mon-compte_max640.scss";
    @import "components/comments_max640.scss";
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Retina support
   ========================================================================== */
  
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {

	.request.urgent h2 {
		background-image: url('../../media/img/assets/urgent@2x.png');
		background-size: 12px 15px;
	}
	
	.request.solved h2,
	.request aside ul li.bestAnswersCount {
		background-image: url('../../media/img/assets/best-answer@2x.png');
		background-size: 12px 11px;
	}
	
	.btn.btn-link.watchToggle.watching {
		background-image: url('../../media/img/assets/watching@2x.png');
		background-size: 16px 11px;
	}
	
} 

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
